body {
	margin: 0;
	padding: 0;
	background-color: #efeee7;
	font-family: 'Georgia', Times New Roman, Times, serif;
	color: #333333;
}

.header {
	background-color: #333333;
	color: #eee;

}

.header h1 {
	font-size: 28px;
	text-align: center;
}

.header h2 {
	font-size: 24px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#main-bio {
	width: 30%;
	float: left;
	padding: 10px;
}

#contact-info {
	float: left;
	width: 30%;
	line-height: 150%;
	padding: 10px;
}

#contact-info a {
	color: #d21034;
	text-decoration: none;
}

#contact-info a:hover {
	font-size: 24px;
	color: red;
}

li {
	text-decoration: none;
}

#bio-image {
	float: left;
	width: 30%;
	margin: 10px;
}